* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

/* Navbar */

.nav-bar {
    display: flex;
    padding: 10px 32px 20px;
    justify-content: space-around;
    align-items: baseline;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}
.logo h3 {
    font-size: 26px;
    font-weight: 800;
    background: linear-gradient(
        45deg,
        #0000ff 25%,
        #0000ff 55%,
        #800080 55%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 20px;
}
.logo-heart {
    background-image: url(../logo/heart_logo.png);
    height: 64px;
    width: 64px;
}


.nav-link {
    color:rgb(0, 0, 0);
    font-weight: 600;
    transition: all 0.3s ease-in;
    -webkit-transition:0.4s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
}
.nav-link:hover {
    color: #00bfff;
    transition-timing-function: ease;
    transition-delay: 0.1s;
}

.btn-get-started {
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 15px;
    border: 0px solid black;
    border-radius: 50px;
    background-color: #F2F4F7;
    transition: all 0.3s ease-in;
    margin: auto;
    box-shadow: 3px 2px 1px;
}

.btn-get-started:hover {
    color: black;
    background-color: #00bfff;
}

/* Header */

.header-conteiner {
    margin: 0;
    height: 80vh;
    background-color: rgb(243, 237, 227);
    display: flex;
    align-items: center;
}

.header-main-content {
    margin: auto;
}

.title-text {
    color: #311e54;
}

.header-zag h1 {
    font-weight: 800;
    font-size: 46px;
}
.header-zag p {
    font-weight: 600;
    color: #667085;
}

/* Swiper */

.swiper {
    width: 50%;
    height: 80%;
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-button-next {
    background-color: wheat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
  .swiper-button-prev {
    background-color: wheat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
  